@import "../../scss/variables";

.filter {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    & .text {
        font-weight: 700;
        color: $desaturated-dark-cyan;
    }

    & .remove {
        width: 28px;
        height: 28px;

        border: none;
        background-color: $desaturated-dark-cyan;

        border-radius: 0 5px 5px 0;

        cursor: pointer;

        transition: background-color 0.3s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $very-dark-grayish-cyan;
        }

        & .img {
            width: 14px;
            height: 14px;
        }
    }
}
