@import "../../scss/variables";

.filters {
    width: calc(100% - 36px);

    margin: 0 18px;
    padding: 16px;

    border-radius: 10px;

    box-shadow: 0 20px 40px $transparent-desaturated-dark-cyan;

    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    background-color: $white;

    & .list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    & .clear {
        border: none;

        background-color: transparent;

        cursor: pointer;

        font-size: 1.1em;
        font-weight: 700;
        color: $dark-grayish-cyan;

        transition: color 0.3s ease;

        &:hover {
            text-decoration: underline;
            color: $desaturated-dark-cyan;
        }
    }
}
