@import "./scss/variables";

.app {
    min-height: 100vh;

    &.hasFilters .content {
        transform: translateY(-32px);
    }

    & .jobs {
        padding: 54px 22px;

        & .job {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
